.profile-page{
padding:50px;
background:#f4f6f8;
min-height:100vh;
}

.profile-title{
font-size:32px;
margin-bottom:30px;
font-weight:600;
}

.profile-card{

width:500px;
margin:auto;

background:white;

border-radius:14px;

box-shadow:0 8px 30px rgba(0,0,0,0.1);

padding:40px;

text-align:center;

}

.profile-avatar{
position:relative;
width:130px;
height:130px;
margin:auto;
}

.profile-avatar img{
width:130px;
height:130px;
border-radius:50%;
object-fit:cover;
border:5px solid #e6f2ec;
}

.camera-btn{

position:absolute;
bottom:5px;
right:5px;

background:#1e7d4f;

border:none;
color:white;

border-radius:50%;

width:34px;
height:34px;

cursor:pointer;
}

.profile-header h2{
margin-top:15px;
font-size:24px;
}

.profile-email{
color:#777;
margin-bottom:20px;
}

.edit-btn{

background:#1e7d4f;
color:white;

border:none;

padding:10px 20px;

border-radius:8px;

cursor:pointer;

margin-bottom:25px;
}

.edit-btn:hover{
background:#16613c;
}


.profile-info{
text-align:left;
}

.profile-info h3{
margin-bottom:15px;
font-size:18px;
}

.info-row{

display:flex;
justify-content:space-between;

padding:12px 0;

border-bottom:1px solid #eee;

font-size:15px;
}

.name-input{
font-size:22px;
font-weight:600;
border:none;
border-bottom:2px solid #1e7d4f;
outline:none;
text-align:center;
margin-bottom:10px;
}

.info-row input{

border:none;
border-bottom:1px solid #ccc;

padding:5px;

outline:none;

width:200px;

}

.save-btn{

background:#1e7d4f;
color:white;

border:none;

padding:10px 22px;

border-radius:8px;

cursor:pointer;

margin-bottom:25px;

}

.save-btn:hover{

background:#16613c;

}
